<p class="text-info">{{mensagem}}</p>
<div class="hidden-print">
	<my-panel my-title="Funcionário">
		<form name="addFuncionarioForm" ng-submit="salva(funcionario)">
			<div class="form-group">
				<label for="nome">Nome completo</label>
				<input type="text" class="form-control" id="nome" name="nome" autofocus required ng-model="funcionario.nome"
				ng-minlength='4' ng-maxlength='30'>
				<span ng-show='addFuncionarioForm.nome.$error.required'>Nome deve ser preenchido</span>
				<span ng-show='addFuncionarioForm.nome.$error.minlength'>Nome deve ter no mínimo 4 caracteres</span>
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<input type="email" class="form-control" id="email" placeholder="email@exemplo.com" name="email" 
					ng-model="funcionario.email" required>
					<ul>
						<li ng-show='addFuncionarioForm.email.$error.required'>E-mail 	deve ser preenchido
						</li>
						<li ng-show='addFuncionarioForm.email.$invalid'>
							E-mail inválido
						</li>
					<ul>
				</div>
			</div>

			<div class="form-group">
				<label for="telefone">Telefone</label>
				<input type="text" class="form-control" id="telefone" name="telefone" ng-model="funcionario.telefone">
			</div>

			<div class="form-group">
				<label for="salario">Salário</label>
				<input my-currency type="text" min="0" step="any" class="form-control" id="salario" name="salario" required ng-model="funcionario.salario">
				<span ng-show='addFuncionarioForm.salario.$error.currency'>Salário Inválido</span>
			</div>
			<input type="submit" class="btn btn-primary" value="Salvar"
			ng-disabled='!addFuncionarioForm.$valid'>
			<a href="#/" class="btn btn-primary">Voltar</a>
		</my-panel>
	</form>
</div>
</br>
<div class="jumbotron">
	<h2>Credenciais</h2>
	<div class="row">
		<dl class="dl-horizontal col-md-8">
			<dt>Nome</dt>
			<dd>{{funcionario.nome}}</dd>
			<dt>Email</dt>
			<dd>{{funcionario.email}}</dd>
			<dt>Telefone</dt>
			<dd>{{funcionario.telefone}}</dd>
		</dl>
		<figure class="col-md-4">
			<img src="http://lorempixel.com/200/200" />
		</figure>
	</div>
</div>

